@charset "utf-8";
/* CSS Document */
body {
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
	background: #ADDFD6;
}

#top {
	width: 1000px;
	margin: auto;
	height: 35px;	
}

#top-left {
	float: left;
}

#top-left ul {
	list-style-type: none;
}

#top-left ul li {
	float: left;
	text-decoration: none;
		
}
#top-right {
	float:right;
}

#top-right ul {
	list-style-type: none;
	padding: 0px 20px 0px 0px;
}

#top-right ul li {
	float: left;
	margin-left: 8px;
}

#top-right ul li a{
	text-decoration: none;
	color: black;
}
#top-right ul li a:hover {
	color: red;	
}

#menu_top {
	background: #0C22A1;
	height: 40px;
}

#banner {
	height: auto;
	width: 1000px;
}

#main #left {
	width: 700px;
	float: left;
	min-height: 400px;
}

#main #right {
	width: 300px;
	float: left;
	min-height: 400px;
}
.end {
    clear: both;
    width: 100%;
    height: 150px;
    background: #EEB6B6;
}
.end .foot h2 {
	text-align: center;
	height: 0px;
}
.end .foot  {
    margin:  auto;
    width: 100%;
    height: 100px;
    padding-top: 20px;
}
.end .foot p {
    text-align: center;
	font-size: 15px;

    
}

#menu_top ul {
	margin: 0px;
	padding: 0px;
}
#menu_top ul li {
	list-style: none;
	float: left;
	width: 200px;
	position: relative;
}

#menu_top ul li a {
	text-decoration: none;
	display: block;
	line-height: 40px;
	color: #FFFFFF;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid #ccc;
	font-size: 14px;
		
	
}

#menu_top ul li a:hover {
	color: yellow;
	
}

#menu_top ul li a.active {
	background: #1949b5;
}

#banner img {
	width: 1000px;
	height: 150px;
}


#main #right1 h3 {
	background: #194d85 url("../images/iconmenu.png") no-repeat 1px;
	height: 40px;
	margin-top: 0px;
	font-size: 16px;
	line-height: 40px;
	color: #FFFFFF;
	text-indent: 30px;	
}

#submenu  {
	display: none;
	position: absolute;z-index: 90;
	background: #0D8CDC;
}

#submenu li {
	border-right: 1px solid #000000;
	border-bottom: 1px dashed #000000;
	
}

#menu_top li:hover #submenu {
	display: block;
}

#menu_top #submenu li a {
	font-size: 12px;
}

#rightmenu  {
	display: none;
	position: absolute;z-index: 90;
	background: #0D8CDC;
}

#rightmenu li {
	border-right: 1px solid #000000;
	border-bottom: 1px dashed #000000;
	
}
.center {
	background: #FFFFFF;
}







